
div {
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
    margin: 0.5em 0;
}

a {
    color: #333;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #555;
    border-bottom-color: #555;
}
