
.container {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 30%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.box h2 {
    margin: 0;
}

.box p {
    margin: 10px 0;
}
